{% if cart.item_count > 0 %}
  <div class="p-4">
    <div class="max-w-6xl flex flex-col my-10 mx-auto">
      <div class="flex-1">
        <div class="flex items-end justify-between my-5">
          <h1 class="text-3xl">Your cart</h1>

          <a href="{{ routes.all_products_collection_url }}" class="text-blue-600 hover:text-blue-800 font-medium underline">Continue shopping &rarr;</a>
        </div>
      </div>
    </div>

    <div class="max-w-6xl flex flex-col my-10 mx-auto">
      <form action="{{ routes.cart_url }}" method="POST" novalidate>
        <table class="table-auto divide-y divide-gray-200 my-4 w-full">
          <thead>
            <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Product</th>
            <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Quantity</th>
            <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Total Price</th>
          </thead>

          <tbody>
            {% for item in cart.items %}
              <tr class="table-row">
                <td class="py-4 px-6 flex flex-col justify-center">
                  <a href="{{ item.url }}">
                    {% if item.image %}
                      <img src="{{ item.image | image_url: width: 800, height: 800 }}" alt="{{ article.image.alt }}" width="800" height="800" alt="{{ item.title | escape }}" class="w-20 h-20 object-cover border" loading="lazy">
                    {% else %}
                      {{ 'product-1' | placeholder_svg_tag: 'w-20 h-20 object-cover border' }}
                    {% endif %}
                  </a>
                </td>

                <td class="py-4 px-6 flex flex-col justify-center">
                  <a href="{{ item.url }}" class="my-1">{{ item.product.title | truncatewords: 5, '...' }}</a>
                  <span class="text-sm text-gray-500 my-1">{{ item.variant.title }}</span>
                  <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0" class="text-sm font-medium text-red-500 my-1">Remove</a>
                </td>

                <td class="py-4 px-6">
                  <input type="number" name="updates[]" id="updates_{{ forloop.index }}" value="{{ item.quantity }}" min="0" class="w-20 border p-2">
                </td>

                <td class="py-4 px-6">{{ item.line_price | money }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="flex flex-col md:flex-row items-center justify-between px-6">
          <div class="w-full my-4">
            <div class="flex flex-col items-start">
              <label for="cart-notes" class="my-1 mb-2 block">Notes</label>
              <textarea name="note" id="cart-notes" class="w-full md:max-w-lg p-2 h-20 resize-none border"></textarea>
            </div>
          </div>

          <div class="w-full my-4 md:w-80">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when "subtotal" %}
                  <h3 class="text-xl">Subtotal: {{ cart.total_price | money }}</h3>
                {% when "update_button" %}
                  <div class="my-2">
                    <button type="submit" name="update" class="w-full p-3 text-gray-700 hover:text-gray-400 border border-gray-700 hover:border-gray-400 rounded-sm">Update</button>
                  </div>
                {% when "checkout_button" %}
                  <div class="my-2">
                    <button type="submit" name="checkout" class="w-full p-3 border border-r-gray-900 font-medium bg-gray-900 hover:bg-gray-700 hover:border-gray-700 text-white rounded-sm">Checkout</button>
                  </div>
                {% else %}
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </form>
    </div>
  </div>
{% else %}
  <div class="max-w-6xl h-60 my-4 mx-auto flex flex-col items-center justify-center">
    <div class="text-center">
      <h1 class="text-3xl my-4">Your cart is empty</h1>

      <div class="my-4 py-4">
        <a href="{{ routes.all_products_collection_url }}" class="px-6 py-4 bg-gray-900 text-white hover:bg-gray-700 rounded-sm my-2">Continue shopping &rarr;</a>
      </div>
    </div>
  </div>    
{% endif %}

{% schema %}
{
  "name": "Template Cart",
  "blocks": [
    {
      "type": "subtotal",
      "name": "Subtotal",
      "limit": 1
    },
    {
      "type": "update_button",
      "name": "Update Button",
      "limit": 1
    },
    {
      "type": "checkout_button",
      "name": "Checkout Button",
      "limit": 1
    }
  ]
}
{% endschema %}