<div class="flex flex-col items-center my-8">
  <h1 class="text-3xl font-medium">{{ section.settings.title }}</h1>

  <div class="max-w-6xl mx-auto my-0">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
      {% for collection in collections %}
        {% if collection.products.count > 0 %}
          <div class="w-full py-6 px-3">
            <div class="border bg-white shadow-sm rounded-md overflow-hidden">
              <a href="{{ collection.url }}">
                <div class="h-80 overflow-hidden">
                  {% if collection.featured_image != blank %}
                    <img class="w-full h-full object-cover transition duration-1000 ease-in-out transform hover:scale-105" src="{{ collection.featured_image | image_url: width: 1024, height: 768 }}" alt="{{ article.image.alt }}" width="1024" height="768" alt="{{ collection.title | escape }}" loading="lazy">
                  {% else %}
                    {{ 'image' | placeholder_svg_tag: 'medium' }}
                  {% endif %}
                </div>
              </a>

              <div class="p-4 bg-gray-100">
                <h1 class="text-xl text-gray-500">{{ collection.title }}</h1>
              </div>
            </div>
          </div>
        {% else %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Template List Collections",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Collections",
      "label": "Title"
    }
  ]
}
{% endschema %}